* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
 body,
html {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
   background-color: #141414; 
  
} 

/* nav */
.nav_bar{
position: fixed;
 top: 0;
 z-index:1;

}
.line{
  background: #f5f5f5;
  height: 2px;
  top: -2px;
  max-width: 410px;
 }
 .arrows{
  height: 14px;
  right: 4px;
  position: absolute;
  top: -17px;
 }
 .card-textmain{
  color: #cccccc;
  font-size: 16px;
 }
 .card-text{
  font-size: 12px;
 }
.dropbtn {
background-color:transparent;
  color: white;
  width: 30px;
height: 68px;
  font-size: 16px;
  border: none;
}
.card-1  {
  border: 1px solid hsla(0, 0%, 100%, .25);
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
display: none; 
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  min-width: 410px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 top:66px; 
right:15px;

}

.dropdown-content a{
  background-color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  display: block;


}

.dropdown-content  a:hover {
    background-color: rgb(0, 0, 0);

}
.card-textmain:hover{
  color: rgb(255, 255, 255);
}
.dropdown:hover .dropdown-content {display: block;}
/*second dropdown  */
.title-text{
  font-size: 13px;
  color: #fff;
}
.border-div{
  border-top: 1px solid hsla(0, 0%, 100%, .25);
}
.dropbtn1{
  background-color:transparent;
    color: white;
    width: 30px;
  height: 68px;
    font-size: 16px;
    border: none;
  }
  .dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content1 {
 display: none;  
    position: absolute;

    min-width: 218px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   top:66px; 
  right:15px;
  border: 1px solid hsla(0, 0%, 100%, .25);
  }
  
  .dropdown-content1 a{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;

    padding-left: 15px;
    padding-top: 10px;
  
  }
  
  .dropdown-content1 a:hover {  text-decoration: underline;
  color: #f5f5f5;}
  
  
  .dropdown1:hover .dropdown-content1 {display: block;}
.move {
  transition: transform 0.5s;
}
.move:hover {
  transform: rotate(180deg);
}
/* hero-page */
 #video{
  position: relative;
  height:100%; 
}
#video video{
  width: 100%;
  object-fit: cover;
   height:100%; 
  z-index: -1;
} 
.box {
  position: absolute;
  top: 38%;
padding-left:50px;
  width:100%;
} 
.btn-play {
  background-color: #fff5f5;
  border: none;
  width: 158px;
  height: 58px;
}

.btn-text {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
}
.btn-play2 {
  background-color: #6d6d6e;
  border: none;
  width: 188px;
  height: 58px;
  color: floralwhite;
}
.btn-play:hover {
  background-color: #e2e3ca;
}
.btn-play2:hover {
  background-color: #4b4b527b;
}
#audio-control {
  cursor:pointer;
  padding: 10px 10px;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  border: solid 1px #fff;
}  

.rating-box {
  background-color: rgba(51, 51, 51, 0.467);
  border: 3px #dcdcdc;
  border-left-style: solid;
  height: 46px;
  width: 170px;
}
.div{
bottom: 0;
position: absolute;
/* height: 290px; */
background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, hsla(0, 0%, 8%, .15) 15%, hsla(0, 0%, 8%, .35) 29%, hsla(0, 0%, 8%, .58) 44%, #141414 68%, #141414);
}
.box-right {
bottom: 0px;
  right: 0px;
  position: absolute;
} 
/* HERO PAGE ENG */
/* START COMPONENT-1 */
.component-1{
  background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, hsla(0, 0%, 8%, .15) 15%, hsla(0, 0%, 8%, .35) 29%, hsla(0, 0%, 8%, .58) 44%, #141414 68%, #141414);
}
/*  */
/* title */
.title{
  color: #e5e5e5;
  font-size: 1.4vw;
  font-weight: 600;
}
/* footer */
.footer ul li a{
  text-decoration: none;
  color: grey;
  list-style-type: none;
  padding-inline-end: 150px;
  flex-wrap: nowrap;
}
.footer a:hover{
  text-decoration: underline;
}
.text{
  color: grey;
}
.btn:hover{
  color: #dcdcdc;
}

/*  */


/* modal */
#myVideomodal{
  width:848px;
  object-fit: cover;
  height:480px;
  z-index: -1;
}
.modal-btn{
  background-color: rgba(0, 0, 255, 0.016);
  color: #cccccc;
}
.btn-playmodal {
  background-color: #fff5f5;
  border: none;
  width: 158px;
  height: 42px;
}
#audio-control2 {
  cursor:pointer;
  padding: 8px 8px;
  color: #fff;
  border-radius: 50%;
  border: solid 1px #fff;
}  
.modal-text{
 background: linear-gradient(0deg, #181818, transparent 50%);
  position: absolute;
  bottom: 0;
}
.section{
  position: relative;
}
.btn-modalllll{
  top: 0;
  right: 0;
  position: absolute;
}
.text-unique{
  color: #46D369;
  font-size: 16px;

}
.text-common{
  align-items: center;
  color: #bcbcbc;
}
.modal-para{
  font-size: 16px;
}
.text-ancer{
  color: #777;
}
.card-position{
  position: relative;
  color: white;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #e5e5e5;
  border: solid 1px #fff;
  display: none;
}
.card-para{
  font-size: 14px;
}
/*  */
.image-container {
  overflow: hidden; /* Ensures the scaled image doesn't overflow the container */
  border-radius: 8px; /* Match this with your existing rounded class */
}

.image-container img {
  transition: transform 0.3s ease; /* Smooth transition effect */
  width: 100%;
  height: auto;
}

.image-container:hover img {
  transform: scale(1.1); /* Scale the image to 110% of its size on hover */
}

.sec_input{
width: 300px;
}
/* RESPONSIVE */

@media (max-width: 320px)  {
  .search-bar,.dropdown,.dropdown1,.move {
    display: none;
  }
  .main_sec{
    margin-top: 3rem;
  }
.div{
  display: none;
}
.herpage_logo{
  width: 100px!important;
}
.box{
  padding-left: 25px!important;
  top: 20%;
}
.btn-play{
  width: 100px;
  height: 35px;
} 
.btn-play2{
  width: 110px;
  height: 35px;
}
.rating-box{
  width: 100px;
  height: 20px;
}
.btn-text,.txt_sec_heropage{
  font-size: 10px!important;
}
.box-right{
  position: absolute;
  top:115%!important;
}
.main_sec{
  margin-top: 1rem;
}
#audio-control{
  border: transparent;
  padding:0px;
}
.title {
  font-size:12px;
}
}

@media (min-width: 321px) and (max-width: 376px) {
  .search-bar,.dropdown,.dropdown1,.move {
    display: none;
  }
  .div{
    display: none;
  }
  .herpage_logo{
    width: 120px!important;
  }
  .box{
    padding-left: 25px!important;
    top: 20%;
  }
  .btn-play{
    width: 100px;
    height: 35px;
  } 
  .btn-play2{
    width: 110px;
    height: 35px;
  }
  .rating-box{
    width: 100px;
    height: 20px;
  }
  .btn-text,.txt_sec_heropage{
    font-size: 10px!important;
  }
  .box-right{
    position: absolute;
    top:135%!important;
  }
  .main_sec{
    margin-top: 1rem;
  }
  #audio-control{
    border: transparent;
    padding:0px;
  }
  .title {
    font-size:12px;
  }
}

@media (max-width: 426px) and (min-width: 377px) {
  .search-bar,.dropdown,.dropdown1,.move {
    display: none;
  }
  .div{
    display: none;
  }
  .herpage_logo{
    width: 180px!important;
  }
  .box{
    padding-left: 25px!important;
    top: 20%;
  }
  .btn-play{
    width: 100px;
    height: 35px;
  } 
  .btn-play2{
    width: 110px;
    height: 35px;
  }
  .rating-box{
    width: 100px;
    height: 20px;
  }
  .btn-text,.txt_sec_heropage{
    font-size: 10px!important;
  }
  .box-right{
    position: absolute;
    top:90%!important;
  }
  .main_sec{
    margin-top: 1rem;
  }
  #audio-control{
    border: transparent;
    padding:0px;
  }
  .title {
    font-size:14px;
  }
}
@media (max-width: 768px) and (min-width: 427px) {
  .search-bar,.dropdown,.dropdown1,.move {
    display: none;
  }
  .herpage_logo{
    width: 170px!important;
  }
  .box{
    padding-left: 25px!important;
    top: 20%;
  }
  .btn-play{
    width: 100px;
    height: 35px;
  } 
  .btn-play2{
    width: 110px;
    height: 35px;
  }
  .rating-box{
    width: 100px;
    height: 20px;
  }
  .btn-text,.txt_sec_heropage{
    font-size: 10px!important;
  }
  .box-right{
    position: absolute;
    top:90%!important;
  }
  .main_sec{
    margin-top: 1rem;
  }
  #audio-control{
    border: transparent;
    padding:0px;
  }
  .title {
    font-size:14px;
  }

}

@media (max-width: 1025px) and (min-width: 769px) {
  .herpage_logo{
    width: 250px!important;
  }
  .box{
    padding-left: 25px!important;
    top: 20%;
  }
  .btn-play{
    width: 100px;
    height: 40px;
  } 
  .btn-play2{
    width: 110px;
    height: 40px;
  }
  .rating-box{
    width: 140px;
    height: 30px;
  }
  .btn-text,.txt_sec_heropage{
    font-size: 14px!important;
  }
  .box-right{
    position: absolute;
    top:90%!important;
  }
  .main_sec{
    margin-top: 1rem;
  }
  #audio-control{
    border: transparent;
    padding:0px;
  }
  .title {
    font-size:16px;
  }
  .sec_input{
    width:200px;
    }
    .taxt_nav{
      font-size: 12px!important;
    }
}

@media (max-width: 1441px) and (min-width: 1026px) {

}